h1 {
	font-family: 'Righteous', cursive;
	font-size: 60px; 
	font-style: normal; 
	font-variant: normal; 
	color: white;
	margin-top: 50;
	letter-spacing: 2.5px;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.break {
	height: 4%;
}

.breakleft {
	height: 1%;
}










