body {
	height: 120%;
	background: linear-gradient(90deg, rgba(251,173,80,1) 0%, rgba(188,42,141,1) 35%, rgba(138,58,185,1) 100%);
}


h1 {
	font-family: 'Righteous', cursive;
	font-size: 60px; 
	font-style: normal; 
	font-variant: normal; 
	color: white;
	letter-spacing: 2.5px;
	padding-top: 55px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
	font-size: 25px; 
	font-style: normal; 
	font-variant: normal; 
	color: black;
	text-align: center;

}

h2 span { 
    background-color: white; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3 {
	font-family: 'Helvetica', sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	color: white;
	text-align: center;
}

h3 span{
	font-style: italic;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}