body {
	height: 120%;
	background: linear-gradient(90deg, rgba(251,173,80,1) 0%, rgba(188,42,141,1) 35%, rgba(138,58,185,1) 100%);
}


h1 {
	font-family: 'Righteous', cursive;
	font-size: 60px; 
	font-style: normal; 
	font-variant: normal; 
	color: white;
	letter-spacing: 2.5px;
	padding-top: 55px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
	font-size: 25px; 
	font-style: normal; 
	font-variant: normal; 
	color: white;
	text-align: center;

}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	color: white;
	text-align: center;
}

h3 span{
	font-style: italic;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px; 
	font-style: normal; 
	font-variant: normal; 
	color: white;
	text-align: center;

}


.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}

.responsive {
	width: 95%;
    height: auto;
}